{% extends "base.html" %}
{% set active = "bs" %}
{% block title %}Balance Sheet{% endblock %}
{% block header %}Balance Sheet{% endblock %}

{% block content %}
{% include "partials/month_picker.html" %}
{% include "partials/depth_selector.html" %}
{% include "partials/sort_toggle.html" %}
<div id="page-content"
     hx-get="/balancesheet/partial?depth={{ depth }}&month={{ month }}&sort={{ sort }}"
     hx-trigger="load" hx-swap="innerHTML">
  {% include "partials/skeleton.html" %}
</div>
{% endblock %}
