{% extends "base.html" %}
{% set active = "is" %}
{% block title %}Income Statement{% endblock %}
{% block header %}Income Statement{% endblock %}

{% block content %}
{% set _p = {'month': month, 'depth': depth, 'sort': sort} %}
{% include "partials/month_picker.html" %}
{% include "partials/depth_selector.html" %}
{% include "partials/sort_toggle.html" %}
<div id="page-content"
     hx-get="/incomestatement/partial?depth={{ depth }}&month={{ month }}&sort={{ sort }}"
     hx-trigger="load, refresh from:window">
  {% include "partials/skeleton.html" %}
</div>
{% endblock %}
